mixin submitButton(text)
  button(class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit")=text

mixin input(type, fieldName, text, errors = {}, values = {})
  - classLine = 'form-control rounded-3' + (_.has(errors, fieldName) ? ' is-invalid' : '')
  div(class="form-floating mb-3")
    input(type=type class=classLine id=`data_${fieldName}` name=`data[${fieldName}]` placeholder=text value=values[fieldName])
    label(for=`data_${fieldName}`)=text
    if (_.has(errors, fieldName))
      div(class="form-control-feedback invalid-feedback")=errors[fieldName][0].message

mixin textarea(fieldName, text, errors = {}, values = {})
  - classLine = 'form-control rounded-3' + (_.has(errors, fieldName) ? ' is-invalid' : '')
  div(class="form-floating mb-3")
    textarea(class=classLine id=`data_${fieldName}` name=`data[${fieldName}]` style="height: 100px")=values[fieldName]
    label(for="data_description")=text
    if (_.has(errors, fieldName))
      div(class="form-control-feedback invalid-feedback")=errors[fieldName][0].message

mixin select(fieldName, text, errors = {}, options = [], values = {})
  - classLine = 'form-control rounded-3' + (_.has(errors, fieldName) ? ' is-invalid' : '')
  div(class="form-floating mb-3")
    select(class=classLine id=`data_${fieldName}` name=`data[${fieldName}]`)
      option
      each option in options
        - isSelect = String(option.id) === String(values[fieldName])
        if option.name
          option(value=option.id selected=isSelect)=option.name
        if option.firstName && option.lastName
          option(value=option.id selected=isSelect)=`${option.firstName} ${option.lastName}`
    label(for=`data_${fieldName}`)=text
    if (_.has(errors, fieldName))
      div(class="form-control-feedback invalid-feedback")=errors[fieldName][0].message

mixin multipleSelect(fieldName, text, errors = {}, options = [], values = {})
  - classLine = 'form-control rounded-3' + (_.has(errors, fieldName) ? ' is-invalid' : '')
  div(class="form-floating mb-3")
    select(class=classLine id=`data_${fieldName}` name=`data[${fieldName}]` multiple="multiple" style="height: 100px")
      each option in options
        - isSelect = String(option.id) === String(values[fieldName]) || _.includes(values[fieldName], String(option.id))
        option(value=option.id selected=isSelect)=option.name
    label(for=`data_${fieldName}`)=text
    if (_.has(errors, fieldName))
      div(class="form-control-feedback invalid-feedback")=errors[fieldName][0].message

mixin formSelect(fieldName, text, options = [], values = {})
  div(class="col-12 col-md")
    div(class="input-group mb-3")
      label(class="input-group-text" for=`data_${fieldName}`)=text
      select(class="form-select" id=`data_${fieldName}` name=fieldName)
        option
        each option in options
          - isSelect = String(option.id) === String(values[fieldName])
          if option.name
            option(value=option.id selected=isSelect)=option.name
          if option.firstName && option.lastName
            option(value=option.id selected=isSelect)=`${option.firstName} ${option.lastName}`