extends ../layout.pug

block header
  h1(class="mb-3")=t('views.labels.index.header')

block content
  a(class="btn btn-primary mb-3" href=reverse('newLabel') role="button")=t('views.labels.index.new')
  div(class="table")
    table(class="table table-borderless table-sm")
      thead
        tr
          th(scope="col")=t('views.labels.index.id')
          th(scope="col")=t('views.labels.index.name')
          th(scope="col")=t('views.labels.index.createDate')
      tbody
        each label in labels
          tr
            td=label.id
            td=label.name
            td=label.createdAt
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=reverse('editLabel', { id: label.id }))=t('views.labels.index.change')
                form(action=reverse('deleteLabel', { id: label.id }) method='post')
                  input(name='_method' type='hidden' value='delete')
                  input.btn.btn-danger(type='submit' value=t('views.labels.index.delete'))